body {
 overflow-x: hidden;
}

/* Spacing */
.post h1, h3, h4, h5, p, .post-body ul, #post-list li, pre {
margin-bottom: 20px;
}

/**
 * Basic styling
 */

html, body { height: 100%; }

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    font-weight: 300;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

article h2, h3, h4, h5, h6 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 13px;
}


hr {
    background-color: #DFE1E4;
    width: 100px;
    height: 1px;
    border: 0;
    margin: 2rem auto;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

article ul, ol {
 margin-top: -20px;
 margin-left: 40px;
}

li {
    list-style-position: inside;
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

li {
    padding: 7px 0;
    text-indent: -1em;
}

article li::before {
 content: "–";
 padding-right: 8px;
}

ol {
 list-style: decimal;

 li:before {
  content: '';
  padding: 0;
 }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 28px;
    letter-spacing: -1px;
    color: #222;
    font-weight: bold;;
}

// Styling
em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-color;
    }

    &:hover {
        color: $link-color;
        text-decoration: underline;
    }
}

// Custom colour selection
::selection {
    background-color: $brand-color;
    color: #fff;
}

::-moz-selection {
    background-color: $brand-color;
    color: #fff;
}


/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 22px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */

.highlight {
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: #f5f5f5;
    border-radius: .15rem;
}

pre,
code {
    font-size: 14px;
    font-family: 'Menlo', 'Monaco', "Courier New", monospace;
    white-space: pre-wrap;
    border-radius: 3px;
    background-color: #F5F5F5;
    color: #c65e24;
}

code {
    border: 1px solid grey;
    display: block;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 5px;
}

.lineno {
    font-size: 10px;
    padding-right: 10px;
    color: #aaa;
}

pre {
    padding: 8px 12px;
    // overflow-x: scroll;

    word-wrap: break-word;
    word-break: break-all;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding: 16px;
    padding-left: 21px;
    padding-bottom: 14px;
    display: block;
    margin: 0 0 1rem;
    line-height: 1.4;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 0px;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;

        .header-intro p {
         text-align: initial
        }
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
